<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/newfarm.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <title>Farm Manager</title>

  </head>

  <body = id="body">
    <div class="container-fluid">
      <header id = "header">
        <div id="applicator_div">
          <div id="app_name">Welcome to Pest'r!</div>
        </div>
      </header>
      <div id="address_div">
        <input id="pac-input" class="controls" type="text" placeholder="Find your address.">
      </div>
      <div class="block">
        <div id="map"></div>
      </div>
      <!-- Large modal -->
      <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <p>Do you want this to be the center of your map?</p>
            <button id="center_save" class="button_center save">save</button>
            <button id="center_cancel"class="button_center cancel">cancel</button>
          </div>
        </div>
      </div>
      <div class="block" id="drawing_div">
        <button class="button" id ="drawing_button">Highlight farm</button>
        <button class="button" id ="close_button">Close tool</button>
        <button class="button" id ="save_button">Save structure</button>
      </div>
      <div class="block" id="table_div">
        <table id="myTable" class="table table-sm">
          <thead>
            <tr>
              <th scope="col"><input id="poly_name" type="text" value="name">Greenhouse/Parcel</input></th>
              <th scope="col">Area</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <script type="text/javascript">



    //================= Query Selectors========================================
    var input = document.getElementById('pac-input');
    let drawing_button = document.querySelector("#drawing_button");
    let save_button = document.querySelector("#save_button");
    let delete_button = document.querySelector("#delete_button");
    let close_button = document.querySelector("#close_button");
    let tbody = document.getElementsByTagName('tbody');
    let center_save = document.querySelector("#center_save");
    let center_cancel = document.querySelector("#center_cancel");
    let polyname = document.querySelector("#poly_name");

    // ================Styling=================================================
    $('#myModal').modal('hide')
    var popup, Popup, rectangle, polygon;

    function initAutocomplete() {
      var hubbard = {lat: 45.180159, lng: -122.805678}
      var options = {
        zoom: 7,
        minZoom: 7,
        maxZoom: 20,
        center: hubbard,
        mapTypeId: 'satellite',
        zoomControl: true,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeControl: false,
        disableDoubleClickZoom: true,
      }

      var map = new google.maps.Map(document.getElementById('map'), options)

      // Create the search box and link it to the UI element.
      var searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // Bias the SearchBox results towards current map's viewport.
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }


      // set the bounds of the map to the address in the search bar
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
         if (!place.geometry) {
           console.log("Returned place contains no geometry");
           return;
         }
        if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
        map.fitBounds(bounds);
        });
        var polyOptions = {
          strokeWeight: 0,
          fillOpacity: 0.45,
      };
        var rectOptions = {
          strokeWeight: 0,
          fillOpacity: 0.45,
        };

      var drawingManager = new google.maps.drawing.DrawingManager({
        drawingMode: google.maps.drawing.OverlayType.POLYGON,
        drawingControl: true,
        drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_RIGHT,
        drawingModes: ['polygon', 'rectangle'],
        polygonOptions: polyOptions,
        rectangleOptions: rectOptions,
        }
      });

      // When user clicks on map, we capture the coordinates.
      // Should be used to set default center of user map.

      function newLocation(newLat,newLng){
        center_save.classList.add('.center_button');
        center_cancel.classList.add('.center_button');
        center_cancel.onclick = function() {
          $('#myModal').modal('hide')
          newinfowindow.close(map);
        }
        center_save.onclick = function() {
          newCenter = {lat: newLat, lng: newLng}
          $('#myModal').modal('hide')
          newinfowindow.close(map);
        }
        let newCenter = {lat: newLat, lng: newLng}
        let newinfowindow = new google.maps.InfoWindow({
          position: newCenter,
          content: '<p>Latitude: '+newCenter['lat']+'</p><p>Longitude:'+ newCenter['lng']+'</p>'
        })
      	map.setCenter({
      		lat : newLat,
      		lng : newLng
      	});
        newinfowindow.open(map);
      }

      google.maps.event.addListener(map, 'dblclick', function( event ){
        newLocation(event.latLng.lat(), event.latLng.lng())
        $('#myModal').modal('toggle')
      });

      // Drawing manager disables click control.  Need a button to allow the user to turn on and off drawing maanger
      drawingManager.setMap(null);

      // Event listener toggles DrawingManager
      drawing_button.addEventListener('click', function(){
        drawingManager.setMap(map);
      })
      // Event listener returns DrawingManager to null
      close_button.addEventListener('click', function(){
        drawingManager.setMap(null);
      })

      // Handles click events on a map, and adds a new point to the Polyline.
      let boundSet = [];
      let polySet = [];
      let polygons = [];
      let counter = 0;
      let areaRect = 0;
      //This massive chunk of code creates a rectangle, calculates the area, adds it to the Polygons list, adds it to the table
      google.maps.event.addListener(drawingManager, 'rectanglecomplete', function(rectangle) {
        let rectBounds = {}
        let coordStr = '';
        coordStr = rectangle.getBounds();
        rectBounds.north = coordStr['na']['l']
        rectBounds.south = coordStr['na']['j']
        rectBounds.east = coordStr['ga']['l']
        rectBounds.west = coordStr['ga']['j']

        boundSet.push(rectBounds)
        let corner = {lat: rectBounds.north, lng: rectBounds.east}
        let topRight = {lat: rectBounds.north, lng: rectBounds.west}
        let bottomLeft = {lat: rectBounds.south, lng: rectBounds.east}
        latLngC = new google.maps.LatLng(corner.lat, corner.lng);
        latLngW = new google.maps.LatLng(topRight.lat, topRight.lng);
        latLngH = new google.maps.LatLng(bottomLeft.lat, bottomLeft.lng);

        let width = new google.maps.Polyline({
          path: [corner, latLngW],
        })

        let height = new google.maps.Polyline({
          path: [corner, latLngH],
        })

        calculateAreaRect(latLngC, latLngH, latLngC, latLngW)

        rectangle.setOptions({fillColor: 'green'})
        rectangle.setMap(map)

        polygons.push(rectangle)

        let newRow = $('<tr id ='+counter+'>');
        let cell = "";
        cell += '<td><input type="text" class="form-control" placeholder="greenhouse'+counter+'" /></td>';
        if (areaRect < 2.471){
          cell += '<td id="area"><div>'+areaRect+' acre\'s</div></td>';
        } else if (areaRect > 2.471){
          cell += '<td id="area"><div>'+(areaRect/2.471).toFixed(2)+' ha\'s</div></td>';
        }
        cell += '<td id="deleteRow"><input type="button" class="ibtnDel btn btn-md btn-danger" value="+"></td><input type="button" class="ibtnDel btn btn-md btn-danger" value="-"></td>';
        newRow.append(cell);
        $("table.table-sm").prepend(newRow);
        counter++;

        if (polygons[newRow[0].id]['fillColor']=='green'){
          $('#deleteRow').click(function(){

            let rectSplice = polygons.splice(newRow[0].id, 1)
            counter--
            if (polygons.length == 0 && polygons.length == 0){
              counter = 0;
            }
            rectSplice[0].setMap(null)
            $(this).closest("tr").remove();
            for (let i=0; i<polygons.length; i++){
              let id = parseInt(tbody[0]['children'][i]['attributes']['id']['nodeValue'])
              if ( id > newRow[0].id){
                tbody[0]['children'][i]['attributes']['id']['nodeValue'] = id - 1
              };
            };
          });
        };
      });

      // Handles click events on a map, and adds a new point to the Polyline. Will need polSet for JSON to backend
      google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
        let vertices = polygon.getPath();
        var polyList = [];
        for (let i = 0; i < vertices.getLength(); i++){
          var xy = vertices.getAt(i);
          polyList.push(parseFloat(xy.lat()).toFixed(10));
          polyList.push(parseFloat(xy.lng()).toFixed(10));
        }
        polygons.push(polygon)
        polygon.setOptions({fillColor: 'black'})
        polygon.setMap(map);
        polySet.push(polyList);
        console.log(polygon.getPath())
        let areaPoly =  parseFloat(google.maps.geometry.spherical.computeArea(polygon.getPath())/10000*2.47105).toFixed(2)
        let polyRow = $('<tr id ='+counter+'>');
        let cell = "";
        cell += '<td><input type="text" class="form-control" placeholder="greenhouse'+counter+'" /></td>';
        cell += '<td id="area"><div>'+areaPoly+' acre\'s</div></td>';
        cell += '<td id="deleteRow"><input type="button" class="ibtnDel btn btn-md btn-danger" value="+"></td><input type="button" class="ibtnDel btn btn-md btn-danger" value="-"></td>';
        polyRow.append(cell);
        $("table.table-sm").prepend(polyRow);
        counter++;

        if (polygons[polyRow[0].id]['fillColor']=='black'){
          $('#deleteRow').click(function(){
            counter--
            polySplice = polygons.splice(polyRow[0].id, 1)
            if (polygons.length == 0 && polygons.length == 0){
              counter = 0
            }
            polySplice[0].setMap(null)
            $(this).closest("tr").remove();
            for (let i=0; i<polygons.length; i++){
              id = parseInt(tbody[0]['children'][i]['attributes']['id']['nodeValue'])
              if ( id > polyRow[0].id){
                tbody[0]['children'][i]['attributes']['id']['nodeValue'] = id - 1
              };
            };
          });
        };
      });
      // This function is used to calculate the area of the rectangle by defineing two lines and then multiplying them LxW.
      function calculateAreaRect(start,end,start2,end2) {
        let length = google.maps.geometry.spherical.computeDistanceBetween(start, end)
        let width = google.maps.geometry.spherical.computeDistanceBetween(start2, end2)
        areaRect = parseFloat((length * width)/10000*2.47105).toFixed(2)
        return areaRect;
      }
    }


    // ---------------User_location Data -------------------------------------------
    save_button.addEventListener("click", function(){
      polyname = polyname.text

      let user_data = {
        'newCenter': newCenter,
        'polyname': polyname,
        'rectBounds': rectBounds,
        'polyList': polyList,
        'centerLat': newLat,
        'centerLng': newLng,
        'areaRect' : areaRect,
        'areaPoly' : areaPoly,
      }

      let config = {
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      }
      axios.post("{% url 'rup:create_location' %}", user_data, config)
      .then(function(response) {
        console.log(response.user_data)
      })
    })


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{SECRET_KEY_GOOGLE}}&libraries=drawing,places,geometry&callback=initAutocomplete" async defer></script>

  </html>
