<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Simple Polygon</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Farm Manager</title>
    </head>
    <style>

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #map {
        height: 90%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .select_style{
        margin: 10px;
        width: 225px;
        overflow-x: auto;
      }

      .option_style{
        width: 200px;
        overflow-x: scroll;
        background-color: blue;
      }

      .submit_style{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
      }

      #selection{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .rei{
        display: flex;
        flex-direction: row;
      }
      .rei * {
        margin: 5px
      }

    </style>
  </head>

  <body = id=>
    <div id="user_div">
      <ul class="sidebar-nav">
        {% if user.is_authenticated %}
       <li>User: {{ user.get_username }}</li>
       <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
       {% else %}
       <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
       {% endif %}
      </ul>


    </div>
    <div id="map"></div>

    <div id="authenicator">
      {% if user.is_staff %}
        <div class="manager">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class='modal fade' id='exampleModalCenter' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true'>
            <div class='modal-dialog modal-dialog-centered' role='document'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h5 class='modal-title' id='SiteName'></h5>
                  <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                  </button>
                </div>
                <div class='modal-body'>
                  <!--This submission will take the pesticide selection and fill populate the fields in the modal with the information in the Pesticide of that specific chemical-->
                  <div class='submit_style'>
                    <h5>Purpose</h5>
                      <select id=selection>
                      </select>
                    <button id='submit_use' type='button' onclick='useChoice()' value = 'submit_use' name='use' >Apply</button>
                  </div>
                  <div class='submit_style'>
                    <h5>Product</h5>
                    <select id=product_selection>
                    </select>
                    <button id='submit_product' onclick='productChoice()' type='submit' value = 'submit_product' name='pesticide'>Apply</button>
                  </div>
                  <hr>
                  <div>
                    <h5>EPA registration number:</h5>
                    <p id=epa_number></p>
                  </div>
                  <hr>
                  <div class='rei'>
                    <input id="rei_input" type='number' name='rei' min='1' max='72' value=0>
                    <button id="rei" type='button' value ='submit' onclick="rei_click()" name = 'rei'> Submit </button>
                    <div id="rei_para">
                    </div>
                  </div>


                  <hr>
                  <button id=popover_product type='button' class='btn btn-lg btn-danger' data-toggle='popover' title='Restricted use' data-content='' >Why is this dangerous</button>
                  <hr>

                  <hr>
                  <button id='popover_product' type='button' class='btn btn-lg btn-danger' data-toggle='popover' title='Clean up after exposure' data-content='' >What to do in case of exposure</button>
                  <hr>

                  <h5>Tooltips in a modal</h5>
                  <p><a href='#' class='tooltip-test' title='Tooltip'>This link</a> and <a href='#' class='tooltip-test' title='Tooltip'>that link</a> have tooltips on hover.</p>
                  <hr>
                  <br>
                  <input id="comment" type="text" name="comment" placeholder="Comments" />
                  <br>

                </div>
                <div class='modal-footer'>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="btn_save" type="button" class="btn btn-secondary">Post Application</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%else%}
      <div class="user">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          <!-- Launch demo modal -->
        </button>


        <!-- Modal -->
        <div class='modal fade' id='exampleModalCenter' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true'>
          <div class='modal-dialog modal-dialog-centered' role='document'>
            <div class='modal-content'>
              <div class='modal-header'>
                <h5 class='modal-title' id='SiteName'></h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                  <span aria-hidden='true'>&times;</span>
                </button>
              </div>
              <div class='modal-body'>
                <!-- This submission will take the pesticide selection and fill populate the fields in the modal with the information in the Pesticide of that specific chemical -->
                <div class='submit_style'>
                  <h5>Purpose</h5>
                    <div id="use"></div>
                </div>
                <div class='submit_style'>
                  <h5>Product</h5>
                  <div  id="product"></div>
                </div>
                <hr>
                <div>
                  <h5>EPA registration number:</h5>
                  <p id=epa_number></p>
                </div>
                <hr>
                <div class='rei'>
                  <input id="rei_input" type='number' name='rei' min='1' max='72' value=0>
                  <button id="rei" type='button' value ='submit' onclick="rei_click()" name = 'rei'> Submit </button>
                  <div id="rei_para">
                  </div>
                </div>


                <hr>
                <button id=popover_product type='button' class='btn btn-lg btn-danger' data-toggle='popover' title='Restricted use' data-content='' >Why is this dangerous</button>
                <hr>

                <hr>
                <button id='popover_product' type='button' class='btn btn-lg btn-danger' data-toggle='popover' title='Clean up after exposure' data-content='' >What to do in case of exposure</button>
                <hr>

                <h5>Tooltips in a modal</h5>
                <p><a href='#' class='tooltip-test' title='Tooltip'>This link</a> and <a href='#' class='tooltip-test' title='Tooltip'>that link</a> have tooltips on hover.</p>
                <hr>
                <br>
                <input type="text" name="comment" placeholder="Comments" />
                <br>

              </div>
              <div class='modal-footer'>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary">Post Application</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endif %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

  <script type='text/javascript'>

    var color = 0;
    function initMap() {
      let locations = [
      {% for location in locations %}
        {
          id: {{location.id}},
          name: '{{location.name}}',
          vertices: [{{location.verticies}}],
        },
      {% endfor %}
      ]

      var siteColors = ['000000', '#FF0000', '#7CFC00']

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        minZoom: 18,
        maxZoom: 18,
        center: {lat: 45.147124, lng: -122.760927},
        mapTypeId: 'satellite',
        zoomControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeControl: false,
      })

      for (let i=0; i<locations.length; i++) {
        let location = locations[i];
        var centroidLat = 0;
        var centroidLng = 0;
        let verticesArray = []
        for (var j=0; j<location.vertices.length; j += 2){
          let lat = location.vertices[j]
          let lng = location.vertices[j+1]
          verticesArray.push(new google.maps.LatLng(lat, lng))
          centroidLat += lat;
          centroidLng += lng;
        }

        var cent = new google.maps.LatLng(centroidLat/verticesArray.length, centroidLng/verticesArray.length);
        var greenhousePolygon = new google.maps.Polygon({
          paths: verticesArray,
          strokeColor: "#FF0000",
          strokeOpacity: 0.5,
          strokeWeight: 1,
          fillColor: "#000000",
          fillOpacity: 0.20,
          position: cent,
          map:map
        });

        click(greenhousePolygon, location);

        // timer(greenhousePolygon)
      }
    }

      //---------------------- changes colors of polygons ----------------------
      //------if color changes red, the modal becomes available by dblclick-----

      function click(greenhousePolygon, location) {
      var listener = google.maps.event.addListener(greenhousePolygon, 'click', function(){
        console.log(location["name"])
        greenhousePolygon.setOptions({fillColor:"#FF0000"});
        google.maps.event.removeListener(listener);
        $('#map, primaryKeys, siteNames').on('dblclick', function (e) {
          $('#exampleModalCenter').modal('toggle');
          $("#SiteName").text(location.name)
          })
        })
      }



      //---------------------- Hides modal button --------------------------
      $(".btn-primary").hide();
      //---------------------- Modal Purpose selection ------------------------
      var selection = document.querySelector("#selection")
      selection.classList.add('select_style')
      var myFrag = document.createDocumentFragment()
      var d = 0
      // {% for use in uses %}
        var option = document.createElement("option")
        option.text = "{{use.use}}"
        option.value = d++
        myFrag.appendChild(option)
      // {%endfor%}
      selection.appendChild(myFrag)

      //---------------------- Modal Pesticide selection ------------------------
      // ----------------------Takes user input from use selection to filter full pesticide list
      function useChoice(){
        var use_choice = $('#selection option:selected').text()
        var product_selection = document.querySelector("#product_selection")
        product_selection.classList.add('select_style')
        var myFrag = document.createDocumentFragment()
        var length = product_selection.length;
        if (length > 0){
          for (let i = length-1; i > -1; i--){
            product_selection.options[i] = null;
          }
        }

        var t = 0
        {% for pesticide in datas %}
          if ("{{pesticide.use}}" == use_choice){
            var option = document.createElement("option")
              option.text = "{{pesticide.product_name}}"
              option.value = t++
              myFrag.appendChild(option)
          }
        {% endfor %}
        product_selection.appendChild(myFrag)
      }

      let selection_modal = document.querySelector('#selection')
      let product_selection =  document.querySelector('#product_selection')
      let epa_number = document.querySelector('#epa_number')
      let comment = document.querySelector('#comment')
      let rei_para = document.querySelector('#rei_para')
      let btn_save = document.querySelector('#btn_save')

      btn_save.onclick = function() {
        let data = {
          use: selection_modal.options[selection_modal.selectedIndex].text,
          product: product_selection.options[product_selection.selectedIndex].text,
          epa_number: epa_number.innerText,
          comment: comment.value,
          rei_para: rei_para.innerText,

        }

        let config = {
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }
        axios.post('{% url 'rup:modal' %}', data, config)
        .then(function(response) {
          console.log(response.data)

      })
    }
        // var data_modal = response.data;
        //
        // for (let i=0; i < data.products.length; i++) {
        //   if (product_choice_modal == data.products[i].product_name){
        //     $('use').append(data.products[i].use);
        //     $('product').append(data.products[i].product_name);
        //     var number = document.getElementById('epa_number')
        //     number.innerText = data.products[i].epa_number
        //     $('button').attr('data-content', data.products[i].rui);
        //     popover.setContent();
        //     $('rei_para').append(rei_modal);



      //---------------------- Modal Pesticide Popover initiator ------------------------
      function productChoice(){
        $(function () {
        $('[data-toggle="popover"]').popover()
        })


        // ---------------------- Ajax call------------------
        // ----------- pulls pesticide data and compares it product choice.  ithen populates the popover with the correct informaiton.-----

        let config = {
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }
        axios.get('{% url 'rup:get_product' %}', config)
        .then(function(response) {
          var data = response.data;
          var popover = $('.btn-danger').data('bs.popover');
          var product_choice = $('#product_selection option:selected').text()
          for (let i=0; i < data.products.length; i++) {

            if (product_choice == data.products[i].product_name){
              $('button').attr('data-content', data.products[i].rui);
              popover.setContent();
              var number = document.getElementById('epa_number')
              number.innerText = data.products[i].epa_number
            }
          }
        })
      }


      // ---------------------- Modal REI timer ------------------------

      var rei = document.getElementById("rei")
      rei_para = document.getElementById("rei_para")
      f=0
      function rei_click(rei_input) {

        var date = new Date().toLocaleDateString();
        var h = new Date();
        var m = new Date();
        var h_rei = new Date();
        var rei_date = new Date()
        var rei_input = parseInt(document.getElementById("rei_input").value)
        if (rei_input >= 24){
          var day = (rei_date.getDate() + rei_input/24)
          rei_date.setDate(day)
        }
        rei_date = rei_date.toLocaleDateString()

        if (h.getHours() < 12){var ampm = 'AM'} else {ampm = 'PM'}
        h = h.getHours() % 12;
        if (h == 0){h+= 12}
        m = m.getMinutes();
        if (m < 10){m = "0" + m;}
        var time = `${h} : ${m} ${ampm}`

        var h_rei_int = h_rei.setHours(h_rei.getHours()+ rei_input);
        var h_rei = new Date(h_rei_int)
        if (h_rei.getHours() < 12){var ampm = 'AM'} else {ampm = 'PM'}
        h_rei = h_rei.getHours() % 12;
        if (h_rei == 0){h_rei+= 12}
        var rei_time = `${h_rei} : ${m} ${ampm}`

        let statement = document.createElement('p');
        let rei_statement = document.createElement('p');
        statement.appendChild(document.createTextNode("Applied on "+date+ " at "+time))
        rei_statement.appendChild(document.createTextNode("Stay out until "+rei_date+ " at "+rei_time))

        if (f%2==0){
          rei_para.appendChild(statement);
          rei_para.appendChild(rei_statement);
        } else { while(rei_para.firstChild){rei_para.removeChild(rei_para.firstChild)}
      }
      f++

      return(rei_time, rei_date, date, time)
    }


//---------------------------- Needs work  Need to find how to compare the rei time and date to just a normal new date and then compare----------------------
    function timer(greenhousePolygon, rei_time, rei_date) {
      document.getElementById("rei").addEventListener("click", function(){
        setInterval (function(){
          var t = new Date();
          var d = new Date().toLocaleDateString();
          if (d == rei_date && t == rei_time ){
            google.maps.event.addDomListener(rei, 'click', function() {
            greenhousePolygon.setOptions({fillColor:siteColors[0]});
            });
          }
        })
      }, 1000)
    }

// -------------------Save data onclick----------------------------------


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{SECRET_KEY_GOOGLE}}&callback=initMap&libraries=drawing,geometry" async defer></script>


</html>
