<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Simple Polygon</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/applicator.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">

    <title>Farm Manager</title>
  </head>

  <body = id="body">
    <header id = "header">
      <div id="applicator_div">
        <ul class="sidebar-nav"  id="user_interface">
          {% if user.is_authenticated %}
         <li>User: {{ user.get_username }}</li>
         <div id="login">
           <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
           {% else %}
           <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        </div>
         {% endif %}
        </ul>
      </div>
    </header>

    <div id="map"></div>
    <!-- Modal -->
    <div class='modal fade' id='exampleModalCenter' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true'>
      <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='SiteName'></h5>
            <button id="cancel" type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
          <div class='modal-body' id='modal_background'>
            <!--This submission will take the pesticide selection and fill populate the fields in the modal with the information in the Pesticide of that specific chemical-->
            <div class='submit_style'>
              <h5>Purpose</h5>
              <select id="selection"></select>
              <!-- <button id='submit_use' type='button' onclick='useChoice()' value = 'submit_use' name='use' >Apply</button> -->
            </div>
            <div class="submit_style">
              <h5>Product</h5>
              <select id="product_selection"></select>
              <button id="submit_product" type="submit" value = "submit_product" name="pesticide">Select</button>
            </div>
            <hr>
            <div>
              <h5>EPA registration number:</h5>
              <p id=epa_number></p>
            </div>
            <hr>
            <div class="rei">
              <div id="rei_duration">
                <h5>REI duration</h5>
                <div id="rei_div">
                  <input id="rei_input" type="number" name="rei" min="1" max="1000" value=0>
                  <button id="rei" type="button" value ="submit" name = "rei"> Confirm </button>
                  <div id="rei_para">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <input id="comment" type="text" name="comment" placeholder="Comments" />
            <br>

          </div>
          <div class="modal-footer">
            <div class = "extra_resources">
              <h6>Extra resources</h6>
              <p><a href="https://iaspub.epa.gov/apex/pesticides/f?p=PPLS:1" class="tooltip-test" title="Tooltip">Pesticide Label Search</a> and <a href="https://www.ohsu.edu/oregon-poison-center" class="tooltip-test" title="Tooltip">Oregon Poision Control</a>
              <div id="post_application_btn">
                <button id="btn_save" type="button" data-dismiss="modal" class="btn btn-secondary">Post Application</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
  </body>
  <script type="text/javascript">

    //================= Query Selectors========================================
    let product_selection = document.querySelector("#product_selection")
    let submit_product = document.querySelector("#submit_product")
    let selection = document.querySelector("#selection")
    let rei = document.getElementById("rei")
    let rei_para = document.getElementById("rei_para")
    let number = document.getElementById("epa_number")
    let btn_save = document.querySelector('#btn_save')
    let cancel = document.querySelector('#cancel')
    let user = document.querySelector('.user')
    let body = document.querySelector('#body')


    // ================Styling=================================================
    product_selection.classList.add('select_style')
    selection.classList.add('select_style')
    // rei_div.style.height='15px'

    let selected_location_id = null

    function initMap() {

      let locations = [
      {% for location in locations %}
        {
          id: {{location.id}},
          name: '{{location.name}}',
          vertices: [{{location.verticies}}],
          restricted: {% if location.is_restricted %}true{% else %}false {% endif %}
        },
      {% endfor %}
      ]

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        minZoom: 18,
        maxZoom: 18,
        center: {lat: 45.147124, lng: -122.760927},
        mapTypeId: 'satellite',
        zoomControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeControl: false,
      })

      for (let i=0; i<locations.length; i++) {
        let location = locations[i];
        var centroidLat = 0;
        var centroidLng = 0;
        let verticesArray = []
        for (var j=0; j<location.vertices.length; j += 2){
          let lat = location.vertices[j]
          let lng = location.vertices[j+1]
          verticesArray.push(new google.maps.LatLng(lat, lng))
          centroidLat += lat;
          centroidLng += lng;
        }

        var cent = new google.maps.LatLng(centroidLat/verticesArray.length, centroidLng/verticesArray.length);
        var greenhousePolygon = new google.maps.Polygon({
          paths: verticesArray,
          strokeColor: "#FF0000",
          strokeOpacity: 0.5,
          strokeWeight: 1,
          fillColor: location.restricted? '#FF0000': "#000000",
          fillOpacity: 0.20,
          position: cent,
          map:map
        });

        click(greenhousePolygon, location);
        cancel_modal(greenhousePolygon, location)
      }

      //---------------------- changes colors of polygons ----------------------
      //------if color changes red, the modal becomes available by dblclick-----

      function click(greenhousePolygon, location) {
        var listener = google.maps.event.addListener(greenhousePolygon, 'dblclick', function(){
          greenhousePolygon.setOptions({fillColor:'#FF0000'});
          $('#exampleModalCenter').modal('toggle');
          $("#SiteName").text(location.name)
          selected_location_id = location.id
        })
      }

      function cancel_modal(greenhousePolygon,location){
        cancel.addEventListener("click", function(){
          if (selected_location_id == (locations[selected_location_id-1]['id'])) {
            greenhousePolygon.setOptions({fillColor:location.restricted? '#FF0000': "#000000"});
          }
        })
      }

      //---------------------- Hides modal button --------------------------
      $(".btn-primary").hide();
      //---------------------- Modal Purpose selection ------------------------
      let option = null
      {% for use in uses %}
        option = document.createElement("option")
        option.text = "{{use.use}}"
        option.value = {{use.id}}
        selection.appendChild(option)
      {%endfor%}


      //---------------------- Modal Pesticide selection ------------------------
      // ----------------------Takes user input from use selection to filter full pesticide list
      selection.addEventListener("change", function(){
        let use_choice = $('#selection option:selected').text();
        product_selection.innerHTML = '';
        {% for pesticide in datas %};
          if ("{{pesticide.use}}" == use_choice){
            let option = document.createElement("option")
            option.text = "{{pesticide.product_name}}"
            option.value = {{pesticide.id}}
            product_selection.appendChild(option)
          };
        {% endfor %};
      });


      //------------Modal Pesticide initiator ------------------------

      // ------------------ Ajax call----------------------------------------
      // ----------- pulls pesticide data and compares it product choice.  then populates the popover with the correct informaiton.-----

      submit_product.addEventListener("click", function(){
        let config = {
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }
        axios.get('{% url 'rup:get_product' %}', config)
        .then(function(response) {
          let data = response.data;
          let product_choice = $('#product_selection option:selected').text()
          for (let i=0; i < data.products.length; i++) {
            if (product_choice == data.products[i].product_name){
              number.innerText = data.products[i].epa_number
            }
          }
        })
      })

      // ---------------------- Modal REI set time ------------------------

      let JSONdate = null
      let JSONdate_input = null
      rei.addEventListener("click", function() {
         rei_click()
      })

      function rei_click(){

        let rei_input = document.getElementById("rei_input").value
        let date_time = new Date()


        let date = date_time.toLocaleDateString();
        let rei_input_int = parseInt(rei_input)

        if (rei_input_int >= 24){
          let day = (date_time.getDate() + rei_input_int/24)
          date_time.setDate(day)
        }
        let rei_date = date_time.toLocaleDateString()
        let ampm = ""
        if (date_time.getHours() < 12){ampm = 'AM'} else {ampm = 'PM'}
        let h = date_time.getHours() % 12;
        if (h == 0){h += 12}
        let m = date_time.getMinutes();
        if (m < 10){m = "0" + m;}
        let time = `${h} : ${m} ${ampm}`

        let yyyy = date_time.getFullYear()
        let mm = date_time.getMonth()+1
        if (mm < 12){mm = "0" + mm;}
        let dd = date_time.getDate()
        if (dd < 10){dd = "0" + dd;}
        let dd_rei = date_time.getDate()
        if (dd_rei < 10){dd_rei = "0" + dd_rei;}
        let hh = date_time.getHours()
        if (hh < 10){hh = "0" + hh;}
        let min = date_time.getMinutes()
        if (min < 10){min = "0" + min;}
        let ss = date_time.getSeconds()
        if (ss < 10){ss = "0" + ss;}
        let uuu = date_time.getMilliseconds()
        let tz = '0'+ date_time.getTimezoneOffset()/60 + ':00'

        JSONdate = `${yyyy}`+'-'+`${mm}`+'-'+`${dd}`+' '+`${hh}`+':'+`${min}`+':'+`${ss}`+'.'+`${uuu}`+'000'+'-'+`${tz}`

        let h_rei_int = date_time.setHours(date_time.getHours() + rei_input_int);
        let h_rei = new Date(h_rei_int)
        if (h_rei.getHours() < 12){ampm = 'AM'} else {ampm = 'PM'}
        h_rei = h_rei.getHours() % 12;
        if (h_rei == 0){h_rei+= 12}
        let rei_time = `${h_rei} : ${m} ${ampm}`

        rei_para.innerText = "Applied on "+date+ " at "+time + '\n' + "Stay out until "+rei_date+ " at "+rei_time

        if (rei_input_int >= 24){
          dd_rei = (date_time.getDate() + rei_input_int/24)
          date_time.setDate(dd_rei)
        }
        let hh_rei = h_rei + 12
        if (hh_rei < 10){hh_rei = "0" + hh_rei}

        JSONdate_rei = `${yyyy}`+'-'+`${mm}`+'-'+`${dd_rei}`+' '+`${hh_rei}`+':'+`${min}`+':'+`${ss}`+'.'+`${uuu}`+'000'+'-'+`${tz}`
      }

      // -------------------Save Data----------------------------------

      btn_save.addEventListener("click", function(){
        pesticide_id = product_selection.options[product_selection.selectedIndex].value
        let data = {
          'start': JSONdate,
          'end': JSONdate_rei,
          'pesticide_id': pesticide_id,
          'location_id': selected_location_id
        }
        let config = {
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }
        axios.post("{% url 'rup:modal' %}", data, config)
        .then(function(response) {
          console.log(response.data)
        })
      })
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{SECRET_KEY_GOOGLE}}&callback=initMap&libraries=drawing,geometry" async defer></script>
  </html>
