
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: #726471;
 }

#map {
  height: 72%;
  width: 75%;
  margin: 0;
  position: absolute;
  top: 8%;
  left: 7%;
  margin-bottom: 5px;
}
#applicator_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#app_name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: #E5E5D8;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}


.pac-card {
   margin: 10px 10px 0 0;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   background-color: #fff;
 }

 #pac-container {
   padding-bottom: 12px;
   margin-right: 12px;
 }

 .pac-controls {
   display: inline-block;
   padding: 5px 11px;
 }

 .pac-controls label {
   font-size: 13px;
   font-weight: 300;
 }

 /* .gmnoprint {
   height: 20px;
 } */

 #pac-input {
   background-color: #fff;
   font-size: 15px;
   font-weight: 300;
   margin-left: 12px;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 400px;
 }

 #pac-input:focus {
   border-color: #4d90fe;
 }

 #title {
   color: #fff;
   background-color: #4d90fe;
   font-size: 25px;
   font-weight: 500;
   padding: 6px 12px;
 }
 #target {
   width: 345px;
 }

#drawing_div{
    height: 80%;
    width: 15%;
    position: absolute;
    right: 3%;
    top: 11%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.button{
  height: 60px;
  width: 60%;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  transition-duration: 0.4s;
  z-index: 10;
}

.button:hover{
  background-color: #008CBA;
  color: white;
}

#table_div{
  background-color: white;
  border-color: #E5E5D8;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  height: 20%;
  left: 7%;
  width: 75%;
  overflow-y: scroll;
}

.map-wrapper{
  height:80%;
  background-color: white;
}

.block{
  display: inline-block;
}

@media (min-width: 576px) {
  .block{
    display: inline-block;
  }
  #table_div{
    background-color: white;
    border-color: #E5E5D8;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    height: 20%;
    left: 7%;
    width: 75%;
    overflow-y: scroll;
  }

  .map-wrapper{
    height:80%;
    background-color: white;
  }
  #drawing_div{
    height: 80%;
    width: 15%;
    position: absolute;
    right: 3%;
    top: 11%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #map {
    height: 72%;
    width: 75%;
    margin: 0;
    position: absolute;
    top: 8%;
    left: 7%;
    margin-bottom: 5px;
  }
}


@media only screen and (min-width: 700px) {
  .block{
    display: inline-block;
  }
  #table_div{
    background-color: white;
    border-color: #E5E5D8;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    height: 80%;
    left: 0%;
    width: 350px;
  }

  .map-wrapper{
    height:80%;
    background-color: white;
  }
  #drawing_div{
    height: 12%;
    width: 350px;
    position: absolute;
    left: 0%;
    top: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #map {
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 20%;
  }
  #mobile_drawing_div{
      height: 80%;
      width: 15%;
      position: absolute;
      right: 3%;
      top: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

  .button{
    height: 60px;
    width: 77px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    z-index: 10;
  }

  .button:hover{
    background-color: #008CBA;
    color: white;
  }

}

.button_center {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.save{background-color: #4CAF50;}
.cancel {background-color: #f44336;}

.modal-content {
   position: absolute;
   top: : 75vh;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}
